* {
  box-sizing: border-box;
}

body {
  font-family: serif;
  font-size: clamp(16px, 2vw, 24px);
  padding: 0;
  margin: 0;
}

main {
  padding: 2em;
  color: #666666;
  text-align: center;
  max-width: 60rem;
  margin-inline: auto;
}

.logo {
  width: 100%;
  max-width: 30em;
}

.section {
  margin: 3em 0;
}

h2 {
  font-weight: 400;
}

.social_wrapper {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1em;
}

.social {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 0.5em;
}

.social img {
  height: 1.5em;
}

.facebook {
  color: #1977f3;
}

.instagram {
  color: #a939aa;
}

.meetup {
  color: #ff1154;
}

.signup {
  text-decoration: none;
  background-color: rgb(238, 108, 56);
  color: white;
  display: inline-flex;
  flex-direction: column;
  padding: 0.5em 2em;
  border-radius: 10000px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
