* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(18px, 2vw, 24px);
  padding: 0;
  margin: 0;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 2em;
}

.description {
  text-align: center;
}

.logo {
  width: 100%;
  max-width: 30em;
}

.social_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-around;
  gap: 2em;
}

.social {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 0.5em;
}

.social img {
  height: 1.5em;
}

.description {
  color: #666666;
}

.facebook {
  color: #1977f3;
}

.instagram {
  color: #a939aa;
}

.meetup {
  color: #ff1154;
}
